include ../../../../../.node-red-dxp/pug/helper

+dxpFormRowInputText({ id: 'name', label: 'name', icon: 'tag' })
+dxpFormRowInputText({ id: 'entry', label: 'Input Data', icon: 'arrow-circle-o-right', isTyped: true })
+dxpFormRowSelect({ id: "category", label: "Category", icon: 'list-alt' })
+dxpFormRowSelect({ id: "function", label: "Function", icon: 'code' })
