include ../../../../../.node-red-dxp/pug-helper

+dxpFormRowInputText('name', 'name', 'tag', 'name')
+dxpFormRowInputTextTyped('entry', 'Input Data', 'arrow-circle-o-right')
+dxpFormRowSelect('category', 'Category', 'list-alt')
+dxpFormRowSelect('function', 'Function', 'code')
