include ../../../../../.node-red-dxp/pug-helper

+dxpFormRowInputText('name', 'name', 'tag', 'name')
+dxpFormRowInputTextTyped('entry', 'Property', 'ellipsis-h')
+dxpFormRowSelect('category', 'Category', 'list-alt')
+dxpFormRowSelect('function', 'Function', 'code')
