include ../../../../../.node-red-dxp/pug/helper

+dxpFormRowInputText({
    id: 'mainValue',
    label: 'Value',
    icon: 'plus',
    rowClasses: 'extra-field additionalMainValue'
})

+dxpFormRowCheckbox({
    id: "inverseReturnValue",
    label: "Inverse",
    icon: 'arrow-circle-o-right',
    text: 'Inverse the return value (not) of condition',
    rowClasses: 'extra-field inverseReturnValue'
})

+dxpFormRowCheckbox({
    id: "splitBooleanOutputs",
    label: "Split out",
    icon: 'map-signs',
    text: 'Split outputs in two distinct boolean',
    rowClasses: 'extra-field splitBooleanOutputs'
})
