.extra-field.dateUtilities_now
    .dxp-template-form-row
        label(for="node-input-dateUtilities-nowFormat") Format
        .content
            select#node-input-dateUtilities-nowFormat
                option(value="timestamp" selected) timestamp
                //option(value="full") full
