include ../../../../../.node-red-dxp/pug/helper

.extra-field.dateUtilities_now
    .dxp-template-form-row
        label(for="node-input-dateUtilities-nowFormat") Format
        .content
            select#node-input-dateUtilities-nowFormat
                option(value="timestamp" selected) timestamp
                option(value="iso8601") iso8601
                option(value="utcString") utcString
                option(value="full") full
                option(value="long") long
                option(value="medium") medium
                option(value="short") short
    +dxpFormRowInputText({
        id: 'dateUtilities-nowFormatToken',
        label: 'token',
        placeholder: 'YYYY-MM-DD',
    })

.extra-field.dateUtilities_timeRange
    +dxpFormRowInputText({
        id: 'dateUtilities-rangeStartTime',
        label: 'Start time',
        icon: 'clock-o',
    })(type='time')
    +dxpFormRowInputText({
        id: 'dateUtilities-rangeEndTime',
        label: 'End time',
        icon: 'clock-o',
    })(type='time')
