include ../../../../../.node-red-dxp/pug/helper

.extra-field.tools_cyclicCounter
    +dxpFormRowInputText({
        id: 'tools-cyclicCounter-maxCount',
        label: 'Max count',
        icon: 'sort-numeric-asc',
    })(type='number')
    +dxpFormRowInputText({
        id: 'tools-cyclicCounter-resetDelay',
        label: 'Reset delay',
        icon: 'clock-o',
    })(type='number')
        +dxpHint Number in ms - Default 0: no reset
