.extra-field.tools_cyclicCounter
    +dxpFormRowInputText('tools-cyclicCounter-maxCount', 'Max count', 'sort-numeric-asc')(type='number')
    +dxpFormRowInputText('tools-cyclicCounter-resetDelay', 'Reset delay', 'clock-o')(type='number')
        +dxpHint
            |  Number in ms - Default 0: no reset
